.dub
docs.json
__dummy.html
docs/
/gauthenticator
gauthenticator.so
gauthenticator.dylib
gauthenticator.dll
gauthenticator.a
libgauthenticator.a
gauthenticator.lib
gauthenticator-test-*
*.exe
*.o
*.obj
*.lst
secret.pem